In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
df = pd.read_csv("crypto.csv")

In [17]:
df.head()

   BTC-USD Price
0     457.334015
1     424.440002
2     394.795990
3     408.903992
4     398.821014

In [10]:
df.shape

(2385, 1)

In [11]:
crypto_list = ['BTC', 'USDT', 'BUSD', 'ETH', 'XRP']

In [12]:
type(crypto_list)

list

In [14]:
crypto_series = pd.Series(data = crypto_list)

In [16]:
crypto_series

0     BTC
1    USDT
2    BUSD
3     ETH
4     XRP
dtype: object

In [18]:
type(crypto_series)

pandas.core.series.Series

##TASK 2
## Define a pandas series with custom index

In [23]:
crypto_list

['BTC', 'USDT', 'BUSD', 'ETH', 'XRP']

In [24]:
crypto_labels = ['crypto#1','crypto#2', 'crypro#3', 'crypto#4', 'crypto#5']

In [27]:
crypto_series = pd.Series(data=crypto_list, index= crypto_labels)

In [28]:
crypto_series

crypto#1     BTC
crypto#2    USDT
crypro#3    BUSD
crypto#4     ETH
crypto#5     XRP
dtype: object

Define a Pandas Series from a dictionary

In [29]:
my_dict ={'Employee ID': 1,
         'Employee Name': 'Steve',
         'Salary($)': 500000,
         'Years with Company': 10}

In [31]:
type(my_dict)

dict

In [32]:
employee_series = pd.Series(data=my_dict)

In [34]:
employee_series

Employee ID                1
Employee Name          Steve
Salary($)             500000
Years with Company        10
dtype: object

PANDAS ATTRIBUTES

In [35]:
crypto_list

['BTC', 'USDT', 'BUSD', 'ETH', 'XRP']

In [36]:
crypto_series

crypto#1     BTC
crypto#2    USDT
crypro#3    BUSD
crypto#4     ETH
crypto#5     XRP
dtype: object

In [37]:
crypto_series = pd.Series(data= crypto_list)

In [38]:
crypto_series

0     BTC
1    USDT
2    BUSD
3     ETH
4     XRP
dtype: object

In [41]:
crypto_series.values

array(['BTC', 'USDT', 'BUSD', 'ETH', 'XRP'], dtype=object)

In [42]:
crypto_series.index

RangeIndex(start=0, stop=5, step=1)

In [43]:
crypto_series.dtype

dtype('O')

In [44]:
crypto_series.is_unique

True

In [45]:
crypto_series.shape

(5,)

Pandas Methods

In [19]:
crypto_prices = [30,45,67,78,89]

In [20]:
crypto_prices_series = pd.Series(data= crypto_prices)

In [21]:
crypto_prices_series

0    30
1    45
2    67
3    78
4    89
dtype: int64

In [22]:
crypto_prices_series.sum()

309

In [23]:
crypto_prices_series.product()

627903900

In [24]:
crypto_prices_series.mean()

61.8

In [25]:
crypto_prices_series.head(2)

0    30
1    45
dtype: int64

PANDAS BUILT-IN FUNCTIONS

In [26]:
crypto_prices_series

0    30
1    45
2    67
3    78
4    89
dtype: int64

In [27]:
crypto_prices_series.dtypes

dtype('int64')

In [30]:
df

      BTC-USD Price
0        457.334015
1        424.440002
2        394.795990
3        408.903992
4        398.821014
...             ...
2380   55950.746090
2381   57750.199220
2382   58917.691410
2383   58918.832030
2384   59095.808590

[2385 rows x 1 columns]

In [32]:
df.dtypes

BTC-USD Price    float64
dtype: object

In [40]:
df.min()

BTC-USD Price    178.102997
dtype: float64

In [35]:
df.max()

BTC-USD Price    61243.08594
dtype: float64

In [41]:
len(df)

2385

Sorting Pandas Series

In [42]:
df

      BTC-USD Price
0        457.334015
1        424.440002
2        394.795990
3        408.903992
4        398.821014
...             ...
2380   55950.746090
2381   57750.199220
2382   58917.691410
2383   58918.832030
2384   59095.808590

[2385 rows x 1 columns]

In [46]:
df.sort_values

<bound method DataFrame.sort_values of       BTC-USD Price
0        457.334015
1        424.440002
2        394.795990
3        408.903992
4        398.821014
...             ...
2380   55950.746090
2381   57750.199220
2382   58917.691410
2383   58918.832030
2384   59095.808590

[2385 rows x 1 columns]>

In [47]:
df

      BTC-USD Price
0        457.334015
1        424.440002
2        394.795990
3        408.903992
4        398.821014
...             ...
2380   55950.746090
2381   57750.199220
2382   58917.691410
2383   58918.832030
2384   59095.808590

[2385 rows x 1 columns]

In [50]:
df.sort_values(by="BTC-USD Price")

      BTC-USD Price
119      178.102997
122      199.259995
121      208.097000
120      209.843994
123      210.339004
...             ...
2382   58917.691410
2383   58918.832030
2384   59095.808590
2366   59302.316410
2365   61243.085940

[2385 rows x 1 columns]

In [51]:
df.sort_values(by="BTC-USD Price", ascending = False, inplace= True)

In [52]:
df

      BTC-USD Price
2365   61243.085940
2366   59302.316410
2384   59095.808590
2383   58918.832030
2382   58917.691410
...             ...
123      210.339004
120      209.843994
121      208.097000
122      199.259995
119      178.102997

[2385 rows x 1 columns]

Perform Math Operations On Pandas Series

In [53]:
df.sum()

BTC-USD Price    1.543538e+07
dtype: float64

In [54]:
df.count()

BTC-USD Price    2385
dtype: int64

In [55]:
df.describe()

       BTC-USD Price
count    2385.000000
mean     6471.857333
std      9289.022505
min       178.102997
25%       454.618988
50%      4076.632568
75%      8864.766602
max     61243.085940

In [57]:
x= df.sum()/df.count()

In [58]:
x

BTC-USD Price    6471.857333
dtype: float64

CHECK IF A GIVEN ELEMENT EXISTS IN A PANDAS SERIES